div.wysiwyg-block.wysiwyg-text-block(data-state="editable")
    div(contenteditable="true", class="wysiwyg-element wysiwyg-editable")
    textarea(name=n + '[]', type=f.type, class="wysiwyg-element wysiwyg-textarea", rows="1")
    include wysiwyg-action.pug
    