label #{f.display}
div.wysiwyg-container(field-name=n)
    div.wysiwyg-blocks-wrapper
        textarea(name=n + '[]', type=f.type, class="wysiwyg-element wysiwyg-textarea", rows="3")
    div.wysiwyg-actions