div.wysiwyg-action-container(field-name=n)
    div.remove-block-wrapper
        div.btn-remove.wysiwyg-action(data-action="remove") &times;
        div.mask
    div.add-block-wrapper
        div.block-options-container-toggle.wysiwyg-action(data-action="expand")
        div.block-options-container
            div.btn.action-add-text.wysiwyg-action(data-action="text") Text
            div.btn.action-add-image.wysiwyg-action(data-action="image") Image
