html
    include includes/head-form.pug
    body
        main.main-container(template="form")
            section#form-container
                form(enctype="multipart/form-data", method="post", action="/api/" + action + '/page')
                    input(type="hidden", name="targetId" value=targetId)
                    each f, n in fields
                        div.form-section
                            - let id = 'field-' + n;
                            - let val = values[n];
                            if f.element == 'input'
                                include includes/input.pug
                            else if f.element == 'wysiwyg'
                                include includes/wysiwyg.pug
                            else if f.element == 'textarea'
                                include includes/textarea.pug
                    div.fixed-btn-container.btn-container
                        button.add-btn.btn.rounded #{action == 'edit' ? 'UPDATE' : 'ADD'}
                        a.btn.rounded(href="/browse/"+path) BACK
            include includes/imageWindow.pug                
        script(src="/js/Form.js", type="text/javascript")
        script(src="/js/wysiwyg.js", type="text/javascript")
        script(src="/js/image.js", type="text/javascript")
        script.
            let wysiwyg_objs = [];
            let sWysiwygContainer = document.getElementsByClassName('wysiwyg-container');
            for(let i = 0; i < sWysiwygContainer.length; i++){
                let w = new Wysiwyg(sWysiwygContainer[i], image);
                wysiwyg_objs.push(w);
            }
            let form = new Form(document.querySelector('form'), wysiwyg_objs);
        include includes/foot.pug
        