:root{
    --font-size: 16px;
    --blue: #0055ff;
    --red: #dd3311;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    line-height: 1;
    box-sizing: border-box;
}
a{
    color: #000;
}
body{
    font-size: var(--font-size);
}
img
{
    display: block;
    width: 100%;
}
main {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}
.hidden
{
    display: none;
}
.fullWidth
{
    width: 100vw;
    max-width: 100%;
}
.fullHeight
{
    height: 100vh;
}
.transparent{
    opacity: 0;
    pointer-events: none;
}
.padding-container
{
    box-sizing: border-box;
    padding: 20px;
}
.flex-container{
    display: flex;
}
.float-container:after
{
    content: "";
    display: block;
    height: 0px;
    clear: both;
}
.waiting-message
{
    display: none;
}
.waiting > .waiting-message
{
    display: block;
}
.cross-icon
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cross-icon:before,
.cross-icon:after
{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 2px;
    background-color: #000;
}
.cross-icon:before
{
    transform: translate(-50%, -50%) rotate(45deg);
}
.cross-icon:after
{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.noTouchscreen .cross-icon:hover:before,
.noTouchscreen .cross-icon:hover:after
{
    background-color: #000;
}
.no-select
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.large-button
{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}
.row {
    /* display: flex; */
    align-items: center;
    padding: 5px;
}
input, textarea, select, button, .btn
{
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
    border: 1px solid;
    box-shadow: none;
}
a.btn
{
    text-decoration: none;
}
button, .btn
{
    /* background-color: #ccc; */
}
input:focus, textarea:focus, select:focus, button:focus, .btn:focus, div[contenteditable="true"]
{
    outline: none;
    background-color: #fff;
}
.self-wrapper
{
    /* float: left; */
    background-color: #ff0;
}
.child-wrapper:before
{
    content: "\21B3";
    display: inline-block;
}
.actions-wrapper
{
    float: right;
}
.rounded,
button.rounded
{
    border-radius: 8px;
}
.fixed-btn-container
{
    position: fixed;
    bottom: 10px;
    left: 10px;
}